* {
    box-sizing:border-box;
}

html {
    background-color:#a9b48a;
    font-family: "Edu TAS Beginner", cursive;
    color: #e2e6d8;
    font-size:24px;
}

body {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    position: relative;
    flex-direction: row;
    padding: 1.2rem;
    background-color: #606e33;
}

nav {
    display:flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem auto;
    width:80%;
}

#terug, h1 {
    position: relative;
    height: 2.5rem;
    background-color: #72813e;
    text-align: center;
    line-height: 2.5rem;
    
}

#terug     {
    width: 2.5rem;
    font-weight: 800;
    font-size:1.2rem;
    border-radius:50%;
    left:1rem;
}

main {
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}

.wraparound {
    margin: 0 1rem;
}

article, aside {
    font-size: 1.3rem;
    padding: 1rem;
}

article {
    text-align: justify;
}

aside {
    border-right-style: double;
    border-color: #606e33;
    border-width: 0.5rem;
    width:30rem;
    height: inherit;
}

li {
    text-transform: lowercase;
}

figure {
    display:block;
    float: left;
    margin: 1rem 1rem 0.5rem 0rem;
}

figure img {
    height: 20em;
}

h1 {
    margin:0 auto;  
    width: 11rem;
    font-weight:450;
    border-radius:15px;
}

h2 {
    font-size: 1.3em; 
    font-weight:500;
}

.temp {
    font-size: 1.2em;
    height:inherit;
    width:inherit;
}

a {
    text-decoration: none;
    color: #e2e6d8;
}

a.initial {
    display: flex;
    width:15em;
    background-color:#8d9c65;
    padding:2rem;
    margin:1.5rem;
    align-self: center;
    height:13em;
}

a.initial:hover {
    color:transparent;
}

a.green:hover {
    background-image: url(Images/Groene_shk.avif);
    background-position: 40% 30%;
}

a.ris:hover {
    background-image: url(Images/Risotto_doperwten.jpg);
    background-size: cover;
    background-position: 30% 10%; 
}

a.red:hover {
    background-image: url(Images/shakshuka_red.jpg);
    background-position: 20%;
    background-size: cover;
}

a.dahl:hover {
    background-image: url(Images/Dahl.avif);
    background-size: 200%;
    background-position: 70% 30%;
}

a.bulgur:hover {
    background-image: url(Images/bulgur.avif);
    background-size: 170%;
}

a.gyros:hover {
    background-image: url(Images/gyros.avif);
    background-size: cover;
}

a.footsies {
    text-shadow: 1px 1px black;
}

a.footsies:hover {
    text-shadow: none;
    color:blue;
}


footer {
    display: block;
    position: relative;
    bottom: 0px;
    opacity: 80%;
    text-align: center;
}




/* header {   OUD
    display: block;
    text-align: center;
    position: relative;
    margin: auto;
    top: 2em;
    width: 25em;
    height: 5em;
    background-color: #72813e;
    border-radius: 1.2em;
    align-content: center; 
}

h1 {             OUD
    font-size: 2.5em;
    font-weight:450; 
    padding: 0px; 
}

              OUD
#terug {
    position: fixed;
    background-color: #72813e;    
    font-family: serif;
    text-align: center;
    line-height: 2.5;       keep same as element height to center text
    font-weight: 900;
    font-size: 2.5em;
    border-radius: 50%;
    width:2.5em;
    height: 2.5em;
    font-weight: 800;
    font-size: auto; 
    left:0.7em;
} */